body{margin:0; }
.wrap{width:100vw;
    overflow:hidden;
    position:relative;
}

.wrap span{
    width:50vw;
    position:absolute;
    right:0;
    top:0;
    height:100%;


}
.item{background-image:url("../img/demo.jpeg");
    transition: all 0.5s ease;
    background-position:center;
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    width:120vw;
    height:100vh;
    margin-left:-10vw;
}
.wrap:hover .item{
    transition: all 0.5s ease;
    margin-left:-20vw;
}

span:hover  ~ .item{
    transition: all 0.5s ease;
    margin-left:0vw !important;
}
